{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/posts.css' %}">
    <link rel="icon" href="{% static 'images/pageicon.jpg' %}">
    <title>PSM | Terms of Use</title>

</head>
<body>
    <div class="container">
        <h1>Terms of Use</h1>
        <p>Welcome to the PrettySweetMessages website! By accessing or using this website, you agree to comply with and be bound by the following terms and conditions. Please review the terms carefully. If you do not agree with these terms, you should not use this website.</p>

        <h2>1. Use of Content</h2>
        <p>All content provided on this website is for informational purposes only. We make no representations as to the accuracy or completeness of any information on this site or found by following any link on this site.</p>

        <h2>2. Subscription to Our Blog</h2>
        <p>You can subscribe to our blog by providing your email address. By subscribing, you agree to receive periodic email notifications regarding new posts or other content related to our blog. You can unsubscribe at any time by following the link provided in our emails.</p>

        <h2>3. Intellectual Property</h2>
        <p>All content, images, and graphics on this website are the property of PrettySweetMessages unless otherwise stated. Unauthorized use and/or duplication of this material without express and written permission from this blog's author is strictly prohibited.</p>

        <h2>4. Third-Party Links</h2>
        <p>Our website may contain links to third-party websites. We have no control over the content or privacy policies of these websites and, therefore, we are not responsible for the content or practices of those websites.</p>

        <h2>5. Disclaimer</h2>
        <p>This website and its content are provided "as is" without any representations or warranties of any kind, express or implied. We are not liable for any losses or damages arising from the use of this website.</p>

        <h2>6. Changes to the Terms</h2>
        <p>We reserve the right to update or modify these terms at any time without prior notice. By continuing to use the website after any changes, you agree to be bound by the revised terms.</p>

        <h2>7. Governing Law</h2>
        <p>These terms are governed by and construed in accordance with the laws of South Africa, and you irrevocably submit to the exclusive jurisdiction of the courts in that location.</p>

        <div class="footer">
            <p>©PrettySweetMessages - All rights reserved.</p>
        </div>
    </div>

</body>
</html>

