
/* COMPETITIONS
========================================== */
.body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 20px;
  background-color: #dedcff;
}
.container {
  max-width: 800px;
  margin: auto;
  background: #050315;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1,
h2 {
  color: #ffffff;
}
.competition {
  background: #050315;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.competition p{
  color: fuchsia;
}
.competition h2,
h3,
p
 {
  margin-top: 0;
  color: #ffffff;
}
form {
  margin-top: 15px;
}
input[type="text"],
input[type="email"],
input[type="datetime-local"],
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
input[type="submit"] {
  background: #2980b9;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
}
input[type="submit"]:hover {
  background: #96b4c4;
}
.messages {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
}
.messages .success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}
.messages .error {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}


.date-info {
  display: flex;
  gap: 20px; /* Space between the two dates */
}

.small-text {
  font-size: 12px; /* Adjust size as needed */
  margin: 0;
}


