{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin.css' %}">
    <title>Login</title>
    <style>
        body {
            background-blend-mode:overlay,overlay,overlay,normal;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }
    </style>
</head>
<body>
    <div class="form-container">
        <div class="form-content">
            <form method="POST" class="login-form">
                {% csrf_token %}
                <fieldset>
                    <legend class="form-title">Welcome Back Admin</legend>
                    {% if form.non_field_errors %}
                        <div class="error-message">
                            {% for error in form.non_field_errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="form-group">
                        <label for="{{ form.username.id_for_label }}">Username</label>
                        {{ form.username }}
                        {% if form.username.errors %}
                            <div class="error-message">
                                {% for error in form.username.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.password.id_for_label }}">Password</label>
                        {{ form.password }}
                        {% if form.password.errors %}
                            <div class="error-message">
                                {% for error in form.password.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <button class="btn-submit" type="submit">Login</button>
                    </div>
                    <div class="footer-text">
                        <small>
                            <a href="{% url 'password_reset' %}">Forgot Password?</a>
                        </small>
                    </div>
                </fieldset>
            </form>
        </div>
</body>
</html>

